body {background-color: #32323e !important;
	
/*	background-repeat: no-repeat;*/
/*	background-size: cover;*/
}
.bg-dark {
	background-color: #40ffeabf !important;
}
.card {
    border-radius: 0;
	background-color: #272730 !important;
    border: 2px solid #cf760b;
}
.card a{
	text-decoration: none;
	
}
/*.form-search-c {
	border: 2px solid #6479b1;
	padding: 10px;
	margin: 10px 0;
	
}*/


.btn-beli h4{
width: 100%;
  height: 100%;
  background-color: #ee4d2d;
  color: white;
 display: block;
 padding: 6px;
 font-weight: 600;
text-shadow: 1px 1px 1px #000;
}
.qrcd {
	height: 300px;
	width: 300px;
}
.bg-custom {
	background-color: #272730;
	border-bottom: 1px;
  }
  .home-subscribe-container {
	background-color: #272730;
	padding: 15px 0 30px;
	margin: 28px 0 0
}
.home-subscribe-container .subscribe-social-medias a {
	display: block;
	margin: 0 15px
}

@media (min-width:576px) {
	.home-subscribe-container .subscribe-social-medias a {
		margin: 0 20px
	}
}
.footer-copyright {
	color: white;
	background-color: #272730;
  }
  /* .list-akun {
	border-radius: 10px;
    overflow: hidden;
    background: rgb(197, 3, 3);
    color: #fff;
	height: 80px;
	width: 250px;
    margin-top: 50px;
  } */
  .ho:hover {
	  text-shadow: none !important;
	  box-sizing: border-box !important;
	  cursor: pointer !important;
	  transition: all 0.3s ease !important;
	  -webkit-transform: scale(1.1) !important;
	  -ms-transform: scale(1.1) !important;
	  transform: scale(1.1) !important;
	  z-index: 2;


  }
  .shopeee {
	  color: #ee4d2d !important;
	  
  }
  /* .offerbox {
	cursor:progress;
	height:10.5px;
	border-radius:4px;
	background-color:#e0e0e0 !important;
	background-image:linear-gradient(90deg, #e8e8e8 0px, #ededed 40px, #e0e0e0 80px);
	background-size:auto !important;
	animation:shine-lines 2s infinite linear !important;
	align-self:center;
  }
  .second__section-main {
	grid-template-columns:auto auto;
	display:grid;gap:10px;
	justify-content:space-between;
	display:flex;
  }
  .second__section-left-items {
	display:flex;
	align-items:center;
	width:auto;
	white-space:nowrap;
	font-size:14px
  }
  .second__section-right-items {
	overflow-wrap:anywhere;
	word-break:break-all;
	text-align:right;
	padding-left:5px
  }
  .amount__checkout-main {
	  visibility: hidden;
  }
  .amount__checout-country{
	  visibility: hidden;
  }
   */
   .greenbox {
	   background-color: #13CAA8 !important;
	   height: 60px;
	   border-top-left-radius: 7px;
	   border-top-right-radius: 7px;
	   padding-top: 15px;
   }
   .hs {
	   display: inline; 
   }

   .abubox {
	   /* margin-top: 1px; */
		background-color: #eaeaea;
		height: 70px;
		color: #005386;
   }
   .abubox img {
	float: left;

}
.text-ransi {
	padding-top: 20px;
}
.putihbox {
		/* margin-top: 1px; */
		background-color: #f3f3fc;
		height: 70px;
		color: #272734;
}
.text-abu{
	color: #9e9e9e;
}
.ml6 {
	margin-left: 60px;
}
.ml20 {
	margin-left: 200px;
}
.ml22 {
	margin-left: 220px;
}
.ml18 {
	margin-left: 160px;
}
.ml17 {
	margin-left: 170px;
	font-size: 13px;
}
.putihbox2 {
	margin-top: 2px;
	background-color: #f3f3fc;
	height: 55px;
	color: #272734;
}
.hargaBawah {
	padding-top: 14px;
}
.protect {
	margin-top: 1px;
	background-color: #f3f3fc;
	height: 75px;
	color: #272734;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.beliS {
	background-color: #ff4130 !important;
	 width:300px;
	 height:60px;
	  font-size:22px;
	   margin-top:7px;
		border-radius:10px;
	 	font-weight: bold;
}
.beliS:hover{
	cursor: pointer !important;
	background-color: #a51407 !important;
}
.putihBesar {
	background-color: #272730;
	color: #f3f3fc;
	border: 2px solid #cf760b;
	border-radius: 10px;
}
hr {
	color: #f3eaea;
}

.kotimage{
	height: 300px;
	display: inline;
}
.detail-spek {
	margin-left: 20px;
}
.tid {
	display: inline;
	font-size: 12px;
}
.tids {
	display: inline;
	font-size: 12px;
}
.tidss {
	display: inline;
	font-size: 11px;
}
/* .detail-pembayaran {
	border: 2px solid #cf760b;
	width: 100%;
	height: 500px;
	border-radius: 20px;
	background-color: #9e9e9e;
} */
.noresult{
	margin: auto;
}

.qrcode {
	width: 300px;
	height: 300px;
	border: 2px solid #cf760b;
}
.bputih  {
	background-color: #272730;
}
.test1 {
	background-color: #272730;
} 
.test2 {
	background-color: #d3efff;
}
.test3 {
	background-color: #fcffc9;
}
.test4 {
	background-color: #ffdcdc;
}


@media (max-width:889px) {
.putihBesar h3 {
	font-size: 25px;
	text-align: center;
}
.images-akun {
	border-radius: 10px;
	border: 2px solid #cf760b;
	max-width: 300px;
	max-height: 300px;
	margin-left: 60px;
}
.detail-akun img{

}
.midium {
	margin: auto;
}
}
@media (min-width:900px) {
	.putihBesar h3 {
		text-align: left;
		font-size: 30px;
		margin-left: 50px;
	}
	.detail-akun img{
		float: left;
	}
	.images-akun {
		border-radius: 10px;
		border: 2px solid #cf760b;
		max-width: 260px;
		max-height: 290px;
		margin-left: 50px;
	}
}


	